body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(246, 250, 248);
    margin: 0px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
    width: 160vh;
    height: 400px;
    background-color: rgb(246, 244, 244);

    padding: 10px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    /* border: 2px solid white; */
}
    
.item-a {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(37, 150, 195);
}

.item-b {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: orangered;
}

.item-c {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: blue;
}

.item-d {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: yellow;
}

.item-e {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: purple;
}

.item-f {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: green;
}

.item-g {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: orange;
}

.item-h {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: blueviolet;
}

.item-i {
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: brown;
}

@media(max-width:658px)
{
    .item-a {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: rgb(29, 43, 200);
    }
    
    .item-b {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: rgb(43, 215, 57);
    }
    
    .item-c {
        grid-column: 3/4;
        grid-row: 1/2;
        background-color: rgb(16, 225, 240);
    }
    
    .item-d {
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: rgb(173, 23, 151);
    }
    
    .item-e {
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: rgb(196, 12, 18);
    }
    
    .item-f {
        grid-column: 3/4;
        grid-row: 2/3;
        background-color: rgb(252, 76, 0);
    }
    
    .item-g {
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: rgb(12, 86, 76);
    }
    
    .item-h {
        grid-column: 2/3;
        grid-row: 3/4;
        background-color: blueviolet;
    }
    
    .item-i {
        grid-column: 3/4;
        grid-row: 3/4;
        background-color: brown;
    }
   
    
}